body{
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */

.bg-nav{
    background-color:rgb(234, 240, 255);
    text-align: center;
    margin: 0;
    padding: 5px;
}

.border{
    border: grey solid 0.5px;
}

.navlist{
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 0;
}

.textdeco{
    text-decoration:none;
    padding: 15px;
    margin:auto;
    color: black;
}

.uppercase{
    text-transform: uppercase;
}


/* BANNER */

.bg-banner{
    background-image: url("../../img/banner-bg.jpg");
    background-color: transparent;
    height: 580px;
    
}

.banner{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}

.space{
    margin: 0;
    padding: 5px 0 5px 0;
    

}

.bts{
    background-color: #F2745F;
    border-radius: 2px;
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
}

/* WE COOK DELECIOUS */

.wck{
    border: black solid 1px;
    background-color:#F2745F;
    padding: 50px;
    height: 250px;
    color: white;
    text-align: center;
    
}

.number{
    background-color: #F3826F;
}

.container{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.img{
    height: 170px;
}

.bts2{
    background-color: white;
    color: #F3826F;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
}


/* BOOK YOUR TABLE NOW */

.bg-book{
    background-image: url("../../img/book-bg.jpg");
    background-color: transparent;
    height: 580px;
}

.book{
    text-align: center;
    display: flex;
    align-items: center;

}

.bg-orange{
    border: black solid 1px;
    background-color: #F3826F;
    color:white;
    text-align:center;
    padding: 30px;
}

.bts-dl{
    background-color: white;
    border-radius: 2px;
    color: #F2745F;
    margin: 5px;
    padding: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* WEEKLY FEATURED FOOD */
.bg-title{
    border: black solid 1px;
    text-align:center;
    padding: 50px;
}

.bg-white{
    border: black solid 1px;
    background-color: white;
    text-align:center;
    padding: 10px;
}

.bg-grey{
    background-color: #F2F6FF;

}


/* FOOTER */

.bg-footer{
    background-image: url(../../img/signup-bg.jpg);
    text-align: center;
    height:200px;
}

.color-wh{
    color: white;
    display: flex;
    align-items: flex-start;
}

.bg-footer2{
    background-color: #363E50;
    text-align: center;
}

.txt-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer2{
    margin:0;
    padding: 40px;
}